@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Muli:ital,wght@0,400;0,900;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Liu+Jian+Mao+Cao&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Muli";
}

.modal {
    transition: opacity 0.25s ease;
}

body.modal-active {
    overflow-x: hidden;
    overflow-y: visible !important;
}