@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Muli:ital,wght@0,400;0,900;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Liu+Jian+Mao+Cao&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Muli";
}

.modal {
    transition: opacity 0.25s ease;
}

body.modal-active {
    overflow-x: hidden;
    overflow-y: visible !important;
}

.card {
    transition: .3s ease all;
    transform: rotateY(0deg);
    transform-style: preserve-3d;
    backface-visibility: hidden;
    cursor: pointer;
    z-index: 2;
}

.card.active {
    transform: rotateY(180deg);
}

.card>div {
    padding: 30px;
    border-radius: 15px;
    min-height: 315px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 10px 10px 0 rgba(90, 116, 148);
}

.card .front {
    width: 100%;
    background: url(../src/images/bg-tarjeta-02.jpg);
    background-size: cover;
}

.front .brand-logo {
    text-align: right;
    min-height: 50px;
}

.front .brand-logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: 80px;
}

.front .chip {
    width: 100%;
    max-width: 50px;
}

.front .group .label {
    @apply text-base text-gray-400 mb-1;
}

.front .group .number,
.front .group .name,
.front .group .expiration{
    @apply text-white text-xl uppercase
}



