@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: 'Anton', sans-serif;
}

h1 {
    text-align: center;
}

.slider-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#slide {
    position: relative;
    height: 50vh;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2.2px #003af7 solid;
}

#changed {
    background-image: url('../resources/img1.jpg');
    background-repeat: no-repeat;
    background-position: center bottom;
    position: absolute;
    background-size: cover;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    filter: brightness(50%);
}


h2 {
    position: relative;
    color: #ffffff;
    font-size: 3rem;
    line-height: 0.9;
    text-align: center;
}

.buttons {
    display: flex;
    flex-direction: row;
    -ms-flex-align: center;
    justify-items: center;
    justify-content: center;
    text-align: center;
    margin: 20px;

}

.next button {
    font-size: 30px;
    margin: 20px;
    outline: none;
    border: none;
    background-color: white;
    cursor: pointer;
    font-weight: bold;
}

.previous button {
    margin: 20px;
    background-color: white;
    outline: none;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 30px;
}

img {
    border: 2.2px rgb(0, 81, 255) solid;
}

.slides {
    filter: brightness(50%);
}