@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Variables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.flexbox {
    @apply flex justify-between
}

#task-form .form-group {
    @apply w-full mt-3
}

button .btn-send {
    @apply bg-blue-600 h-12 w-full transition-all my-1.5 rounded
}

fieldset {
    @apply border-2 border-blue-500 rounded-sm mt-3 outline-none p-4
}

#task-form .btn-send {
    border: 2px solid #CED6E0;
    padding: 5px 12px;
    @apply border-none p-1 text-base text-white bg-blue-600 shadow-xl cursor-pointer h-10 w-full transition-all my-1.5 rounded
}

#task-form .btn-send:hover {
    @apply bg-blue-900
}

legend {
    padding: 2px;
    margin-left: calc(7% - 35px - 8px);
}

/*Input Radio Style*/
input[type="radio"] {
    appearance: none;
    margin: 0 40px;
    width: 24px;
    height: 24px;
    background: #eeeeee;
    box-shadow:
        inset 0 0 0 .4em white,
        0 0 0 .3em;
    border-radius: 50%;
    transition: .2s;
    transform: scale(0.95);
    cursor: pointer;
    color: #000000;
}

input[type="radio"]:hover,
input[type="radio"]:checked {
    @apply bg-black;
    box-shadow:
        inset 0 0 0 .6em white,
        0 0 0 .3em;
}

input[type="radio"]:checked {
    @apply bg-blue-600;
    box-shadow:
        inset 0 0 0 .4em white,
        0 0 0 .3em #2563EB;
}

input[type="radio"]:focus {
    outline: 0;
}